<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Vue</title>
  <script src='https://unpkg.com/vue@3'></script>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>

  <div id="app">
    <!--inserisco il testo e al click del bottone cambio colore-->
    <h1 :class="coloreTesto">{{message}}</h1>
    <button @click="cambiaColore()" >Cambia colore</button>

    <!--inserisco due img e al clicco del bottone cambio una img -->
    <input type="text" v-model="img">
    <button @click ="cambiaImg('fabio2.jpg')">Cambia foto</button>
    <img :src="path + img" alt="">

    <p v-if="show">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, commodi?</p>

    <button @click="toggle">cliccami per nascondere la foto e mostrare il testo</button>

  


  </div>
 


  <script src="./js/script.js"></script>
</body>
</html>